[Unit]
Description=Midnight Archive Node
Wants=network-online.target
After=network-online.target cardano-node.service

[Service]
User={{ node_user }}
Type=simple
EnvironmentFile={{ node_home }}/.env
WorkingDirectory={{ node_home }}/data
ExecStart={{ node_home }}/.local/bin/midnight-node \
    --chain {{ node_home }}/res/{{ network }}/chain-spec-raw.json \
    --base-path {{ node_home }}/data \
    --name {{ midnight_node_name }} \
    --pruning archive \
{% if is_rpc_node | default(true) %}
    --rpc-external \
    --rpc-cors all \
    --rpc-port 9944 \
    --rpc-methods Safe \
{% endif %}
{% if is_boot_node | default(false) %}
    --listen-addr /ip4/0.0.0.0/tcp/30333 \
    --bootnodes /dns/{{ midnight_bootnode }}/tcp/30333/ws/p2p/12D3KooWK66i7dtGVNSwDh9tTeqov1q6LSdWsRLJvTyzTCaywYgK \
{% endif %}
    --no-private-ip
KillSignal=SIGINT
Restart=always
RestartSec=10
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
